.photo-details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  overflow-x:hidden ;
  border-radius: 12px;
  position: fixed;
  z-index: 9999;

  &:focus {
    outline: none;
  }
  &__header {
    display: flex;
    justify-content: left;
    font-size: 18px;
    font-weight: 500;
    color: #1e1e1e;
    margin: 0 24px 0 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    
  }

  &__close-button {
    background-color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 16px;
    margin-top: 16px;
    cursor: pointer;
  }

  &__content {
    width: 90%;
    margin-top: 0;
  }

  &__image-wrapper {
    position: relative;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  &__image {
    width: 100%;
    height: auto;
    // border-radius: 8px;
    // max-height: calc(100% - 100px); /* Adjust the value as needed */
    // overflow: hidden; /* Hide any overflow content */
  }
  
  &__fav-button {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__photographer-details {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 24px 0;
    align-items: center;
  }

  &__user-profile {
    object-fit: cover;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 16px;
    padding-left: 0;
    width: 60px;
    height: 60px;
  }

  &__photographer-info {
    display: flex;
    flex-direction: column;
  }

  &__user-info {
    margin: 0 0 0 8px;
    font-weight: 700;
    font-size: 16px;
  }

  &__user-location {
    color: #838383;
    margin: 0 0 0 8px;
    font-weight: 600;
    font-size: 12px;
  }

  &__related-photos-header {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
  }

  &__related-photos {
    border-top: 1px solid lightgray;
    padding-top: 16px;
    padding-left:16px;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  // 
  &::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


}