.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar__left{
margin:0;
padding:0;
}

.top-nav-bar__right{
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
}
